h1{
    margin:0;
    padding-top: 20px;
    text-align: center;
}
.login_father{
    width: 100%;
    height: 100%;
}
.left_content{
    width:50%;
    display: inline-block;
}
.login_content{
    display: inline-block;
    margin-top: 200px;
}
input{
    display: block;
}